.Order {
  width: 85%;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 10px;
  margin: 10px auto;
  border-radius: 5px;
  box-sizing: border-box;
}

.Ingredients {
  text-transform: capitalize;
  display: inline-block;
  margin: 0 6px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px;
}
